fastai==1.0.61
Flask
gunicorn
Pillow==7.2.0
https://download.pytorch.org/whl/cpu/torch-1.6.0%2Bcpu-cp38-cp38-linux_x86_64.whl
-f https://download.pytorch.org/whl/torch_stable.html 
torchvision==0.7.0+cpu