.bg {
    position: absolute;
    width: auto;
    height: auto;
    background-color: rgb(180, 202, 214);
}

h1{
    text-align: center;
    margin-left: 10px;
}

p, h2 {
    text-align: left;
    margin-left: 10px;
    margin: 10px;
}

h4 {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 0px;
}

.text-container {
    float: left;
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: white;
    position: relative;
}

.left-col {
    float: left;
    width: 20%;
    margin-top: 80px;
    text-align: center;
}