<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="about.css">
</head>

<body>
    <div class = "bg">
        <div class = "left-col">
            <h2  style = "text-align: center;"> Navigation </h2>
            <a href = "#instr"> Instructions </a> <br>
            <a href="#about"> About us </a>
        </div>
        <div class = text-container>
            <h1> More Information </h1>
            <h2 id = "instr"> Instructions: </h2>
            <p>Welcome to our Art Classification Web Page!</p>
            <h4> Step 0:</h4> <p>Click the green BEGIN button to start!</p>
            <h4> Step 1: Upload an Image</h4> 
            <p>First you need to select an image that is either a jpg or jpeg file type. 
                To upload this image onto the web app, either select the green UPLOAD button
                or drag and drop the image from another location. Then, verify that the shown
                image is the picture of your selected image that you want to identify. If not, 
                simply press the green UPLOAD button again to select another image.
            </p>
            <h4> Step 2: Select classification category/categories </h4> 
            <p>Now you may select any combination of the following 3 categories to identify your image with: <br> <br>
                1. Style: the possible period of art such as realism, impressionism, etc. <br>
                
		<h6> The 61 styles available in this classifier include: Abstract Art, Abstract Expressionism, Academicism, 
			American Realism, Art Brut, Art Deco, Art Informel, Art Nouveau (Modern), Baroque, Classicism, Cloisonnism, 
			Color Field Painting, Conceptual Art, Concretism, Contemporary Realism, Cubism, Dada, Divisionism, 
			Early Renaissance, Expressionism, Fauvism, Futurism, Hard Edge Painting, High Renaissance, Impressionism, 
			Ink and wash painting, Luminism, Lyrical Abstraction, Magic Realism, Mannerism (Late Renaissance), Metaphysical art, 
			Minimalism, Naturalism, Naïve Art (Primitivism), Neo-Expressionism, Neo-Romanticism, Neoclassicism, Neoplasticism, 
			New Realism, Northern Renaissance, Op Art, Orientalism, Pointillism, Pop Art, Post-Impressionism, 
			Post-Painterly Abstraction, Precisionism, Proto Renaissance, Realism, Regionalism, Rococo, Romanticism, Shin-hanga, 
			Social Realism, Surrealism, Symbolism, Synthetic Cubism, Sōsaku hanga, Tachisme, Tenebrism, and Ukiyo-e. </h6> <br> <br>
                
		2. Time period: the possible start and end date the art would likely be created in based on style. <br><br>
                
		3. Artist: the possible creator. <br> <br>
                
		<h6> The 127 artists available in this classifier include: Albert Bierstadt, Albrecht Durer, Alfred Sisley, 
			Alphonse Mucha, Amedeo Modigliani, Arkhip Kuindzhi, Aubrey Beardsley, Berthe Morisot, Boris Kustodiev, 
			Camille Corot, Camille Pissarro, Charles M. Russell, Charles Turner, Childe Hassam, Claude Monet, Dante Gabriel Rossetti, 
			David Burliuk, Edgar Degas, Edouard Cortes, Edouard Manet, Egon Schiele, Ernst Ludwig Kirchner, Erte, Eugene Boudin, 
			Eugene Delacroix, Eyvind Earle, Felix Vallotton, Ferdinand Hodler, Fernand Leger, Francisco Goya, Gene Davis, George Romney, 
			George Stefanescu-Ramnic, Georges Braque, Georgia O'Keeffe, Giorgio de Chirico, Giovanni Battista Piranesi, Giovanni Boldini, 
			Gustave Caillebotte, Gustave Courbet, Gustave Dore, Gustave Loiseau, Gustave Moreau, Henri Fantin-Latour, Henri Martin, 
			Henri Matisse, Henri de Toulouse-Lautrec, Hieronymus Bosch, Honore Daumier, Ilya Mashkov, Ilya Repin, Isaac Levitan, 
			Ivan Aivazovsky, Ivan Bilibin, Ivan Shishkin, James McNeill Whistler, James Tissot, Jean Auguste Dominique Ingres, 
			Jean-Leon Gerome, Joan Miro, John Henry Twachtman, John James Audubon, John Singer Sargent, Joshua Reynolds, Juan Gris, 
			Katsushika Hokusai, Koloman Moser, Konstantin Korovin, Konstantin Makovsky, Konstantin Somov, Konstantin Yuon, 
			Kuzma Petrov-Vodkin, Louis Comfort Tiffany, Lovis Corinth, Lucas Cranach the Elder, Lucian Freud, M.C. Escher, Marc Chagall, 
			Martiros Saryan, Mary Cassatt, Maurice Prendergast, Max Ernst, Mikalojus Ciurlionis, Nicholas Roerich, Nikolay Bogdanov-Belsky, 
			Norman Rockwell, Odilon Redon, Pablo Picasso, Paolo Veronese, Paul Cezanne, Paul Gauguin, Paul Jacoulet, Paul Klee, 
			Peter Paul Rubens, Pierre Bonnard, Pierre-Auguste Renoir, Pietro Perugino, Pyotr Konchalovsky, Raphael, Raphael Kirchner, 
			Rembrandt, Rene Magritte, Robert Henri, Salvador Dali, Sam Francis, Samuel Peploe, Sir Lawrence Alma-Tadema, Stanley Spencer, 
			Theodor Severin Kittelsen, Theophile Steinlen, Thomas Eakins, Thomas Lawrence, Tintoretto, Titian, Utagawa Kuniyoshi, 
			Valentin Serov, Vasily Perov, Vasily Polenov, Vasily Surikov, Vasily Vereshchagin, Viktor Vasnetsov, Vincent van Gogh, 
			William Merritt Chase, William Turner, William-Adolphe Bouguereau, Zdislav Beksinski, and Zinaida Serebriakova. </h6>
            </p>
            <h4> Step 3:</h4> 
            <p>
                After a short period of time, your selected categories will be displayed for your selected image.
            </p>
            <h2 id = "about" style="margin-top : 20px;"> About us: </h2>
            <p > We’re a group of students from the Claremont Colleges. <br> <br>
                This Art Classifier is part of the final project for our Software 
                Development Class (CS121). We use Neural Nets to classify various 
                types of images. We hope you enjoy using it as much as we love Art!
            </p>
            <h4> Front End Team </h4>
            <p style = "margin-top: 0px;"> 
		<a href="https://github.com/cathrn3">Catherine Wu</a> <br>
                Harvey Mudd College, CS Major <br>
                Quarantine Hobby: League of Legends <br> <br>
                
                <a href="https://github.com/cindylay">Cindy Lay</a> <br>
                Claremont McKenna College CS and Math ’22 <br>
                Quarantine Hobby: Taking walks once in a while
            </p>

            <h4> Back End Team </h4>
            <p style = "margin-top: 0px;"> 
		<a href="https://github.com/avinella">Avalon Vinella</a> <br>
                Harvey Mudd College, CS Major ‘22 <br>
                Quarantine Hobby: Drawing <br> <br>
                
                <a href="https://github.com/hsartin">Henley Sartin</a> <br>
                Harvey Mudd College <br> 
                Quarantine Hobby: TikTok and Among Us <br> <br>
                
                <a href="https://github.com/qjulia32">Julia Qian</a> <br> 
                Harvey Mudd College, CS and Linguistics Major <br>
                Quarantine Hobby: Baking <br> <br>
            </p>
 
        </div>
    </div>
</body>
