<!doctype html>
<title>Upload</title>
<head>
	<link rel="stylesheet" href="../static/uploads/css/main.css">
</head>

<h1>Art Style Identifier</h1>
<p> Upload an art image to determine the style, time period, <br> or author using this simple classifier! (accepts .png, .jpg, .jpeg)</p> 
<!-- flash messages based on statements in app.py -->
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

<!-- Upload image button that auto submits -->
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<input type="file"  onchange = "form.submit()" name="file" id="file" class="inputfile" />
		<label for="file">Choose an image</label>
    </dl>
</form>

<!-- displays image and classify button after user uploads an image -->
{% if user_image %}
	<div>
		<img src="{{ user_image }}" alt="User Image" class = "center" width = 200 height = 300>
	</div>
	<p> <button type = "button" onclick = "bottum()" class = "classify" > Classify! </button>  </p>
	<br>
	<div id="placeholder" style = "display:none;" class = "margin"> insert classifications  <br> . <br> . <br> . <br>. <br> . <br> . <br></div>
{% endif %}


<!-- autoscrolls to the classification after clicking classifcation button -->
<script>
	function bottum() {
		document.getElementById('placeholder').style.display = '';
		document.getElementById('placeholder').scrollIntoView(true);
	};
</script>